<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Adb_sTn - Galerypage</title>
</head>
<body class="bg-dark">
    <!--Navigasi bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Adb_sTn</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="/galery/index.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Galery
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/galery/bersama.html">Bersama-teman</a></li>
                <li><a class="dropdown-item" href="/galery/sendiri.html">Gabut</a></li>
                <li><a class="dropdown-item" href="/galery/random.html">Random</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Others
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/contact">Hubungi Saya</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/project">Project</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav><br>
  <!--Nav end-->

  <!--Layout galery -->
    <div class="container bg-dark text-dark" style="height: 100vh ">
      <div class="row row-cols-1 row-cols-3 g-4">
        <div class="col">
          <div class="card" style="cursor: pointer">
            <a href="/galery/bersama.html">
            <img src="/assets/Foto/1668699918994.jpg" class="card-img-top" alt="..." style="height: 240px">
            <div class="card-body">
              <h5 class="card-title">Bersama-teman</h5>
              <p class="card-text">Berisi content dan foto-foto bersama teman-teman</p>
            </div>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
              15+
            </span>
            </a>
          </div><br>
        </div>
        <div class="col">
          <div class="card" style="cursor: pointer ">
            <a href="/galery/sendiri.html">
            <img src="/assets/Foto/1668699918609.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gabut </h5>
              <p class="card-text">Berisi gabut.</p>
            </div>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
              2+
            </span>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card" style="cursor: pointer">
            <a href="/galery/random.html">
            <img src="/assets/Foto/punk.jpg" class="card-img-top" alt="..." style="height: 300px">
            <div class="card-body">
              <h5 class="card-title">Random</h5>
              <p class="card-text">Berisi content dan foto-foto random apa aja yang ada</p>
            </div>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
              20+
            </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  <!---Layout end-->
  <footer class="bg-dark text-center text-lg-start ">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); width: 100%">
      <a class="text-light" href="">© 2022 Copyright: Maulana Adib Sultoni"Adb_sTn"</a>
    </div>
    <!-- Copyright -->
  </footer>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>